body {
    background-color: #e6f7ff;
    font-family: Verdana;
}

h1 {
    color: navy;
    text-align: center;
}

p {
    color: #444;
    font-size: 16px;
}

.box {
    background-color: white;
    padding: 20px;
    margin: 40px auto;
    width: 70%;
    border: 2px solid #ccc;
}